<p>
    ¿Has olvidado tu contraseña de "Up me Up!"? ¡No te preocupes! Haz clic en el enlace de abajo para restablecerla:
</p>
<p>
    <a href="{{ resetUrl }}">{{ resetUrl }}</a>
</p>
<p>
    Si no has solicitado un cambio de contraseña, ignora este correo.
</p>
<p>
    Gracias,
</p>
<p>
    El equipo de "Up me Up!"
</p>